include dash_mui_datetime_component/dash_mui_datetime_component.min.js
include dash_mui_datetime_component/dash_mui_datetime_component.min.js.map
include dash_mui_datetime_component/async-*.js
include dash_mui_datetime_component/async-*.js.map
include dash_mui_datetime_component/*-shared.js
include dash_mui_datetime_component/*-shared.js.map
include dash_mui_datetime_component/metadata.json
include dash_mui_datetime_component/package-info.json
include README.md
include LICENSE
include package.json
